
.slider{
    display: block;
}
.img{
    width: 100%;
    height: 450px;
    display: block;
    padding: 0;
    margin-top: -10px;
}
.row {
    width: 100%;
    margin-top: 10px;
    text-align: center;
   text-align: justify;
  }
  
  .columns {
    width: 33%;
    min-width: 280px;
    vertical-align: top;/*Fix for different     height elements*/
    padding: 2.5%;
    text-align: justify;
    text-justify: inter-word;
    display: inline-block;
    color: black;
   }
  .align-right {
    text-align: justify;
    text-justify: inter-word;
  }
  @media screen and (max-width: 500px) {
    .columns {
      width: 100%; 
    }
  }
  h3{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
  }
  

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    margin: 1rem;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-content h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.card-content p {
    color: #555;
}

.vidbg {
  width: 100%;
  height: 400px; /* adjust the height value as needed */
  object-fit: cover;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

  /* CSS */
  .container {
    height: 250px;
    width: 60%;
    margin-right: 150px;
    max-width: 800px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.services {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services li {
  margin: 20px;
  text-align: justify;
}

.services a {
  background-color: #2ecc71;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.services a:hover {
  background-color: #27ae60;
}

.card-main{
  display: flex;
}
.sec-container{
  width: 28%;
  height: auto;
}
.maincard{
  width: 100%;
}

.pyramid-loader {
  position: relative;
  margin: 0 auto; /* add this line */
  left: 0; /* add this line */
  width: 300px;
  height: 300px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

